  <div class="row">

    <div class="col-xs-3">
      <p id="cand_id" style="display:hidden"><%= @candidate.id %></p>
      <h1><%= @candidate.name %></h1>
      <ul>
        <li>Twitter: <a href='<%= "https://www.twitter.com/#{@candidate.twitter}" %>'><%= @candidate.twitter %></a></li>
        <li>Average Sentiment: <%= @candidate.average_tweeted_about_probability %></li>
      </ul>
      
    </div>

    <div class="col-xs-9">
      <div class="graph"></div>
    </div>

  </div>



